<li class="separator acl-write"></li>

<li data-type="button" data-key="scene" data-l10n-id="ep_screenplay.toolbar.scene.title">
  <a class="grouped-left ep_screenplay" data-l10n-id="ep_screenplay.toolbar.scene.title" title="Scene" aria-label="Scene">
    <button class="buttonicon buttonicon-video-1 ep_scene" aria-label="Scene"></button>
  </a>
</li>

<li data-type="button" data-key="action" data-l10n-id="ep_screenplay.toolbar.action.title">
  <a class="grouped-middle ep_screenplay" data-l10n-id="ep_screenplay.toolbar.action.title" title="Action" aria-label="Action">
    <button class="buttonicon buttonicon-megaphone ep_action" aria-label="Action"></button>
 </a>
</li>

<li data-type="button" data-key="character" data-l10n-id="ep_screenplay.toolbar.character.title">
  <a class="grouped-middle ep_screenplay" data-l10n-id="ep_screenplay.toolbar.character.title" title="Character" aria-label="Character">
    <button class="buttonicon buttonicon-child ep_character" aria-label="Character"></button>
  </a>
</li>

<li data-type="button" data-key="dialogue" data-l10n-id="ep_screenplay.toolbar.dialogue.title">
  <a class="grouped-right ep_screenplay" data-l10n-id="ep_screenplay.toolbar.dialogue.title" title="Dialogue" aria-label="Dialogue">
    <button class="buttonicon buttonicon-comment ep_dialogue" aria-label="Dialogue"></button>
  </a>
</li>
